* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    width: 100%;
    max-width: 100%;
}

.container {
    max-width: 1304px;
    margin: 0 auto;
    color: #FFFFFF;
}

/* Common css end */

/* header part start */
#header {
    height: 100px;
    background: #1F1E26;
}

#nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;

}

.main_menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 60px;
    height: 60px;
}

.logo_text {
    margin-left: 20px;
}

.logo_text h5 {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-align: left;
    color: #FFC107;
}

.logo_text h6 {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    text-align: left;
    color: #FFFFFF;
}

.main_menu ul li {
    margin: 0 20px;
}

.main_menu ul li a {
    font-family: Josefin Sans;
    font-size: 19px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: #B3B3B3;
    line-height: 100px;
    transition: all linear .3s;
}

.main_menu ul li .active,
.main_menu ul li a:hover {
    color: #FFC107;
}

.btn button {
    width: 182px;
    height: 44px;
    border-radius: 16px;
    background: #FFC107;
    border: none;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    cursor: pointer;
}

/* banner part start */
#banner {
    background: url(/image/banner.png) no-repeat center;
    background-size: cover;
    height: 830px;
    position: relative;
}

.video_img img {
    width: 50px;
    height: 50px;
}

.video_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 373px;
}

#banner .btn2 {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

#banner .btn2 button {
    color: #1F1E26;
    width: 366px;
    height: 68px;
    border-radius: 24px;
    line-height: 68px;
    font-family: Josefin Sans;
    font-size: 24px;
    border: none;
    background: #FFC107;
    cursor: pointer;
}

#banner .btn2 button img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.news {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #FFFFFF;
    position: fixed;
    bottom: 47px;
    right: 39px;
    z-index: 9;
}

.news a {
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 20px;
    color: #1F1E26;
    text-align: center;
    line-height: 90px;
    display: block;
}

/* location part start */
#location_section {
    padding: 170px 0;
    background: #1F1E26;
}

.common_head h2 {
    font-family: Josefin Sans;
    font-size: 52px;
    font-weight: 500;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.common_head h2 span:first-child {
    margin-left: 20px;
}

.common_head h2 span {
    color: #FFC107;
    margin-left: 0px;
}

.gif {
    margin: 60px auto 50px;
    width: 946px;
    position: relative;
}

.gif p {
    font-family: Josefin Sans;
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    color: #ECECEC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.location1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.location1 .right {
    position: absolute;
    right: 40px;
    top: 103px;
}

.location1 .left {
    position: absolute;
    left: 40px;
    top: 103px;

}

.location1 .arrow {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.item {
    width: 367px;
}

.item_text p {
    font-family: Josefin Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 20px;
}

.item_text p img {
    width: 24px;
    height: 24px;
}

/* adventure part start */
#adventure2 {
    background: #262432;
    padding: 170px 0 60px;
}

#adventure2 .common_head h2 {
    text-align: left;
    margin-left: 80px;
}

#adventure2,
.educational {
    background: url(/image/adventure2.png) no-repeat center;
    background-size: cover;
    padding: 80px 0 68px;
}

.advernture2_text {
    width: 516px;
    padding: 28px 40px;
    background: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.2);
    background: linear-gradient(152.44deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.02) 74.3%);
    border-radius: 15px;
    margin-left: 80px;
    margin-bottom: 390px;
}

.advernture2_text p {
    font-family: Josefin Sans;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    color: #FFFFFF;
}

.btn3 {
    text-align: center;
}

.btn3 button {
    padding: 18px 97px 18px 108px;
    background: #FFC107;
    border: none;
    border-radius: 24px;
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}

.btn3 button img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

/* educational part start */
#educational {
    padding: 170px 0 60px;
    background: #262432;
}

#educational .common_head h2 {
    margin-left: 80px;
    text-align: left;
}

.educational {
    background: url(/image/educational.png);
}

.picture {
    background: url(/image/educational.png) no-repeat center;
    background-size: cover;
}

.educational .advernture2_text {
    width: 657px;
    border-radius: 15px;
}

/* virtual class part start */
.virtual {
    background: url(/image/virtual_part.png) no-repeat center;
    background-size: cover;
}

.common_head .margin_left {
    margin-left: 20px;
}

/* footer part start */
#footer {
    padding: 120px 0 38px;
    background: #1F1E26;
}

#footer address {
    font-family: Josefin Sans;
    font-size: 19px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
}

#footer button {
    padding: 11px 60px;
    border-radius: 16px;
    border: none;
    font-family: open Sans;
    font-weight: 600;
    font-size: 16px;
    color: #1F1E26;
    margin: 0 auto;
    display: block;
    margin-top: 22px;
    cursor: pointer;
    transition: all linear .3s;
}

#footer button:hover {
    background: #FFC107;
}

.icon {
    text-align: center;
}

.icon img {
    width: 44px;
    margin: 40px 4px 0;
}